<div id="<%= dom_id user_association %>">
  <p>
    <strong>User to:</strong>
    <%= user_association.user_to %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_association.user_id %>
  </p>

</div>
