<h1>Editing user association</h1>

<%= render "form", user_association: @user_association %>

<br>

<div>
  <%= link_to "Show this user association", @user_association %> |
  <%= link_to "Back to user associations", user_associations_path %>
</div>
