<h1>Editing user sleep</h1>

<%= render "form", user_sleep: @user_sleep %>

<br>

<div>
  <%= link_to "Show this user sleep", @user_sleep %> |
  <%= link_to "Back to user sleeps", user_sleeps_path %>
</div>
